.error-404 {
    position: relative;
    padding-top: 6.5625rem;
    padding-bottom: 7.75rem;
}

#error-menu {
	.nav-link {
		color: $primary-menu-font-color;
		font-family: $body-font;
		font-size: $primary-menu-font-size;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;
        padding-left: 1rem;
        padding-right: 1rem;

        @include media-breakpoint-up(lg) {
            padding-left: 4.625rem;
            padding-right: 4.625rem;
        }        
	}

	.nav-item {
		&.nav-item-dot {
			position: relative;

			&::before {
				content: "";
				background-color: $primary;
				display: block;
				height: 5px;
				width: 5px;
				position: absolute;
				top: 50%;
				left: 0;
	
				@include translateY(-50%);
				@include border-radius(50%);
			}
		}		

		&:hover {
			a {
				color: $theme-color;
			}
		}

		@include media-breakpoint-up(lg) {
			&:first-child {
				.nav-link {
					padding-left: 0;
				}
			}

			&:last-child {
				.nav-link {
					padding-right: 0;
				}
			}
		}
	}
}