
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
	}

	a {
		display: block;
	}
}

.entry-meta {
	font-size: 0.875rem;
	text-decoration: none;
	color: $dark;
	font-weight: 500;
}

.entry-title {
	font-weight: 500;
	line-height: 3rem;
}
