
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/

.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.link-icon {
	background-image: url(../images/icons/link.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	width: 2.5625rem;
	height: 2.5625rem;

	&.black {
		background-image: url(../images/icons/link_black.png);
	}
}

a {
	.link-icon {
		@include transition(all 0.3s ease-in-out);
	}

	&:hover {
		.link-icon {
			@include translateX(1rem);
		}
	}	
}

.about-top, .about-main, .about-bottom {
	p {
		font-size: 0.875rem;
		font-family: $body-font;
		line-height: 1.5rem;
	}
}

.about-top {
	@include media-breakpoint-down(lg) {
		img {
			width: 100%;
		}
	}
}

.attach-img {
	position: absolute;
	bottom: 2rem;
	left: -9rem;

	@include media-breakpoint-down(lg) {
		position: relative;
		bottom: 0;
		left: 0;
	}
}

.about-bottom {
	.col-lg-6 {
		padding: 0 !important;

		img {
			width: 100%;
		}
	}
}

.about-notice {
	position: relative;
	top: -15rem;
	margin-bottom: -15rem;

	@include media-breakpoint-down(lg) {
		margin-bottom: -13rem;
	}
}

.carousel-indicator {
	span {
		font-size: 0.875rem;
		color: $dark;
	}

	a {
		text-decoration: none;
		color: #c7c7c7;

		i {
			font-size: 1.125rem;
		}

		&:hover {
			color: $dark;
		}
	}
}

.see-more-link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
	color: #fff;
	padding: 1.3rem 3.5rem;
	font-weight: 600;
	font-family: $body-font;
	letter-spacing: 0.05rem;
}

// slider items//
.slick-prev::before, .slick-next:before {
	font-size: 1.5rem;
	opacity: 1;
	color:#dcdcdc;

	@include media-breakpoint-down(lg) {
	   display: none;
   }
}

.slick-prev, .slick-next {
	top: 75%;
}

.slick-prev {
	left: 27rem;

	@include media-breakpoint-down(lg) {
	   display: none !important;
   }
}

.slick-next {
	left: 29rem;

   @include media-breakpoint-down(lg) {
	   display: none !important;
   }
}

.slick-slide {
   margin: 2rem;
}

.slick-list {
	padding: 0 !important;
}

.decoration {
	position: absolute;
	top: -4rem;
    left: -2rem;
}