 
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #banner {
			top: -$header-height;
			margin-bottom: -$header-height;
		}
	}

	border-color: #f2f2f2;
}

.navbar-top,
.navbar-bottom {
	padding-top: 1rem;
	padding-bottom: 1rem;
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	position: relative;	

	img {
		width: 5rem;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		color: $primary-menu-font-color;
		font-family: $body-font;
		font-size: $primary-menu-font-size;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;
	}

	.nav-item {
		@include media-breakpoint-up(lg) {
			margin: auto;
		}		

		&.nav-item-dot {
			display: none;
			position: relative;

			&::before {
				content: "";
				background-color: $primary;
				display: block;
				height: 5px;
				width: 5px;
				position: absolute;
				top: 50%;
				left: 0;
	
				@include translateY(-50%);
				@include border-radius(50%);
			}

			@include media-breakpoint-up(lg) {
				display: list-item;
			}
		}		

		&:hover {
			a {
				color: $theme-color;
			}
		}

		@include media-breakpoint-up(lg) {
			&:first-child {
				margin-left: 0;

				.nav-link {
					padding-left: 0;
				}
			}

			&:last-child {
				margin-right: 0;

				.nav-link {
					padding-right: 0;
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	.nav-item {
		padding-right: 1rem;

		&:last-child {
			padding-right: 0;
		}
		
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
	}

	.nav-link {
		color: $dark;		
		font-size: 0.875rem;	
		font-weight: 600;
		line-height: 1;
		border-radius: 50%;
		font-family: $body-font;

		i {
			color: $theme-color;
		}

		&:hover {
			color: $primary;
		}

		[data-cart-items] {
			position: relative;
			display: inline-block;
		}
		
		[data-cart-items]::before {
			content: attr(data-cart-items);
			position: absolute;
			top: -.5rem;
			right: 0.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 16px;
			height: 16px;
			font-size: 11px;
			font-weight: 500;
			border-radius: 50%;
			border: 1px solid #fff;
			background-color: #ff6f61;
			color: #fff;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.nav-item {	
		padding-left: .875rem;
		padding-right: .875rem;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a.nav-link {
		color: $dark;
		display: block;
		font-size: 0.875rem;
		font-weight: 600;
		font-family: $body-font;	
		padding: 0;	
		
		&:hover {
			color: $topbar-hover-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);
		@include box-shadow(0 0 5px -1px rgba($black, 0.2));
		
		@include media-breakpoint-up(lg) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $heading-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: 0.25rem;
		}
	}
}


/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/

#top-infos {
	display: flex;
		
	a {
		color: $dark;
		text-decoration: none;
		font-size: 0.875rem;
		font-weight: 600;

		i {
			color: $theme-color;
		}

		&:hover {
			color: $topbar-hover-color;
		}
	}
}


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/

#top-social,
#top-social ul { margin: 0; }

#top-social {
	ul {
		display: flex;
		align-items: center;
	}

	li {
		padding: 0 0.25rem;

		a {
			background-color: rgba($topbar-color, 0.7);
			border-radius: 50%;
			color: rgba($topbar-hover-color, 0.7);
			display: inline-block;
			line-height: 1.8125rem;
			width: 1.8125rem;
			height: 1.8125rem;		
			vertical-align: middle;
			text-align: center;

			&:hover {
				color: $topbar-hover-color;
			}

			i {
				vertical-align: top;
				line-height: 1.8125rem;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top menu
-----------------------------------------------------------------*/
#top-menu {
	.nav-link {
		color: $dark;
		font-family: $body-font;
		font-size: 0.875rem;
		font-weight: 500;		

		@include media-breakpoint-up(lg) {
			padding-right: 1rem;
			padding-left: 1rem;			
		}
	}

	.nav-item {
		&:hover {
			a {
				color: $theme-color;
			}
		}

		@include media-breakpoint-up(lg) {
			&:first-child {
				.nav-link {
					padding-left: 0;
				}
			}

			&:last-child {
				.nav-link {
					padding-right: 0;
				}
			}
		}
	}
}



/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






