
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {
	position: relative;		
	margin-bottom: 1.875rem;

	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
		padding-left: 5rem;
		padding-right: 5rem;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;

			&::after {
				display: none;
			}
		}

		&::after {
			content: "";
			background-color: #dee2e6;
			position: absolute;
			right: 0;
			top: 50%;			
			width: 1px;
			height: 9.375rem;

			@include translateY(-50%);
		}
	}    

	.fbox-icon {
		img {
			height: 3.5rem;
		}
	}

	h4 {
		font-size: 1.7rem;
		font-weight: 500;
	}

	p {	
		font-family: $body-font;
		font-weight: 500;
		font-size: 0.875rem;
		line-height: 1.375rem;
	}

	&.border-right {
		&:after {
			position: absolute;
			right: 5rem;
			bottom: 3rem;
			content: "";
			display: inline-block;
			width: 1px;
			height: 7rem;
			background-color: #dee2e6;
			
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		padding: 1rem;
	}
}
