/* testimonial
-----------------------------------------------------------------*/
.testimonial {
	.testimonial-title {
		line-height: 3rem;
	}

	.testimonial-info {
		font-size: 0.875rem;
		color: #9f9f9f;
		font-family: $body-font;
	}
}